/* === Genel ve Temel Ayarlar === */
:root {
    --primary-bg: #e0f0ff; /* Ana açık mavi arka plan */
    --button-bg: #a9c7ff;  /* Buton mavisi */
    --button-text: #3b5a9a; /* Buton yazı rengi */
    --header-border: #d9d6fe; /* Üst bar çerçeve rengi */
    --text-dark: #2c3e50;  /* Koyu metin rengi */
    --text-light: #576c81; /* Açık metin rengi */
    --logo-color: #4338CA; /* Logo rengi */
}
/* Tüm kutu modelini daha sezgisel hale getirir */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}